{% extends "base.html" %}
{% load static %}


{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
    <div class="col-lg-4">
        <div class="col-md-1 mb-4">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top"
                         src="{% if product.image %}{{ product.image.url }}{% endif %}"
                            {# src="{% static product.image %}"#}
                         alt="">
                </a>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{ product.name }}</a>
                    </h4>
                    <h5>{{ product.price }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer text-center">
                    <button name={{ product.id }} class="btn btn-outline-success
                    ">Отправить в корзину</button>
                </div>
            </div>
        </div>
    </div>

    </div>

    <script src={% static 'js/product_to_basket.js' %}></script>
{% endblock %}


